body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    height: 100vh;
    
}
.calculator{
    border: 1px soild#ccc;
    padding: 20px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 0 10px#ccc;
}
button{
    font-size: 20px;
    padding: 15px;
    border: none;
    border-radius: 8px;
    background: #eee;
}
#display{
    width: 100px;
    height: 40px;
    margin-bottom: 15px;
    font-size: 15px;
    text-align: right;
    padding: 5px;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4,60px);
    gap: 10px;

}
button:hover{
    background: ddd;

}
.equal{
    grid-column: span.4;
    background: #B9FF14;
    color: white;
}
.equal:hover{
    background: #1976d2
    ;
}
